.home{
    display: flex;
    width: 100%;
    margin: 2% 3%;
    width: 97%;
}

.competitions {
    display: flex;
    flex-direction: column;
    width: 18%;
    font-weight: bold;
    cursor: pointer;
    row-gap:12px;
}

.competitions p{
    color: black;
    width: 70%;
    margin: 0;
}

.competitions div:hover {
    padding: 0.25rem 0.5rem;
    transition: 0.75s;
}

hr {
    border-left: 6px solid grey;
    height: 95%;
    position:absolute;
    left: 21%;
}

.competition {
    display: flex;
    align-items: center;
    gap: 10px;
}

.competition img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    object-fit:cover;
    cursor: pointer;
}
.checkTicket {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    height: fit-content;
    width: 24.5em;
    padding: 0.5em 0.5em; 
}

.checkTicket input {
    width: 60%;
    margin-left: 10%;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 13px;
    font-weight: bold;
}

.checkTicket p {
    margin: 0 !important;
    cursor:auto;
    font-size: 15px;
    text-wrap: nowrap;
}

.checkTicket button {
    margin: 0 !important;
    width: 10%;
    padding: 0.5%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.checkAndSeeTicket {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
